<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/template.css' />
  <title>Document</title>
</head>

<body>
  <section class="main-temp">
    <form>
      <div class="form-group row">
        <label for="contact" class="col-sm-2 col-form-label">Contact name</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="contact">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Project Name</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputPassword3">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSubject" class="col-sm-2 col-form-label">Subject Name</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputSubject" >
        </div>
      </div>
      <div class="form-group row">
          <label for="chooseTemplate" class="col-sm-2 col-form-label">Choose Template</label>
          <select id="inputState" class="form-control">
              <option selected>Spent hours report</option>
              <option>...</option>
            </select>
        </div>
    </form>

    <button type="button" class="btn btn-primary">Create letter</button>

  </section>


</body>

</html>